#name{
    font-family:'Montserrat', sans-serif;
    font-size: 3rem;
}
/* 
#navbar {
    background-color: royalblue;
} */
a{
    color: white;
}

#name{
    color: #4a4a4a;
}
#bio {
    color: white;
    background-color: royalblue;
}